<div class="container">
    <header style="transform: translateY(-30%);">
			<a href="/"><img src="https://forexkillergang.com/img/logoForex.png" alt="myunion" width="130px" height="130px" style="border-radius: 50%;"/></a>
		</header>
    <div id="error" class="alert alert-danger" style="display: none;">{{error.msg}}</div>
    <form #f="ngForm" (ngSubmit)="reset_password(f)" class="was-validated" novalidate> 
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="email" name="email" class="form-control" placeholder="Email address" [(ngModel)]="user.email" required/>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="newpassword" name="newpassword" class="form-control" placeholder="New password" [(ngModel)]="user.password" required/>
      </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="newpassword2" name="newpassword2" class="form-control" placeholder="Confirm new password" [(ngModel)]="user.password2" required/>
      </div>
  
    <!-- Submit button -->
    <div class="row">
    <button type="submit" class="btn btn-primary btn-block mb-4">Reset
        <span  class="spinner-border text-light sr-only" role="status" hidden></span>
    </button>
    </div>
  </form>
</div>